* {
  box-sizing: border-box;
}

body {
  font-family: proxima-nova, sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  vertical-align:center;
}

h2,
h3,
a {
  text-decoration: none;
  color: #34495e;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.logo .logo-img {
  max-width: 240px;
  height: auto;
}

.main-nav {
  margin-top: 5px;
}

/*@media only screen and (max-width: 931px) {*/
/*  .header .main-nav {*/
/*      display: none;*/
/*  }*/
/*}*/


.logo .logo-link {
  padding: 0;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #636362;
}

.main-nav a {
  font-size: .99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #a2a2a2;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}




.header,
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.header {
  flex-direction: row;
  justify-content: space-between;
}

.cover {
  background: #fff;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
  z-index: 20;
  filter: alpha(opacity=60);
  opacity: 0.5;
  margin-top: 75px;
}



.pop-up {
  position: fixed;
  z-index: 50;
  background-color: White;
  width: 900px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  border-color: #cccc99;
  left: 50%;
  top: 40%;
  margin-top: -200px;
  margin-left: -450px;
  overflow: hidden;
}

.img-container img {
  width: 283px;
  height: auto;
}

@media only screen and (max-width: 931px) {
  .pop-up {
    width: 800px;
    left: 62%;

  }
  .img-container img {
    width: 180px;
    height: auto;
  }
}



@media only screen and (max-width: 939px) {
  .pop-up {
    width: 700px;
    left: 62%;
    height: 600px;
  }
  .img-container img {
    width: 200px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}

@media only screen and (max-width: 779px) {
  .pop-up {
    width: 556px;
    left: 73%;
    height: 533px;
  }
  .img-container img {
    width: 180px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}

@media only screen and (max-width: 552px) {
  .pop-up {
    width: 392px;
    left: 98%;
    height: 558px;
    top: 43%;
  }
  .img-container img {
    width: 130px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}
@media only screen and (max-width: 508px) {
  .pop-up {
    width: 320px;
    left: 103%;
    height: 570px;
  }
  .img-container img {
    width: 130px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}


@media only screen and (max-width: 460px) {
  .pop-up {
    width: 320px;
    left: 117%;
    height: 570px;
  }
  .img-container img {
    width: 130px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}

@media only screen and (max-width: 415px) {
  .pop-up {
    width: 320px;
    left: 120%;
    height: 570px;
  }
  .img-container img {
    width: 130px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}


@media only screen and (max-width: 380px) {
  .pop-up {
    width: 320px;
    left: 126%;
    height: 570px;
  }
  .img-container img {
    width: 130px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}




@media only screen and (max-width: 376px) {
  .pop-up {
    width: 320px;
    left: 127%;
    height: 570px;
  }
  .img-container img {
    width: 130px;
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .button {
    min-width: 66%;
  }
}


@media only screen and (max-width: 321px) {
  .provider-container {
    top: -46px;
  }
  .pop-up {
    width: 299px;
    left: 144%;
    height: 467px;
    top: 51%;
  }
  .img-container img {
    width: 100px;
    height: auto;
  }
  .img-container {
    text-align: center;
    top: 50%;
  }
  .button {
    min-width: 66%;
  }
}




.content-box {
  font-family: proxima-nova, sans-serif;
  background-color: #ffffff;
  padding-top: 20px;
  margin-top: 44px;
  display: grid;
  grid-template-areas: 'title' 'subTitle' 'desc';
  line-height: 1.7;
  margin-bottom: 50px;
}

.title {
  grid-area: title;
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
}

.sub-title {
  grid-area: subTitle;
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}

.desc {
  grid-area: desc;
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
}

.wave-cover {
  position: relative;
  height: 340px;
  width: 100%;
}

.wave-cover-first {
  content: "";
  display: block;
  position: absolute;
  border-radius: 102% 50%;
  width: 122%;
  height: 100%;
  background-color: #f8d678;
  right: -149px;
  top: -1px;
  z-index: 1;
}

.wave-cover-second {
  content: "";
  display: block;
  position: absolute;
  border-radius: 26% 72% 0 0;
  width: 128%;
  height: 100%;
  background-color: #ee824e;
  left: -205px;
  top: -16px;
  z-index: 2;
}

.wave-cover-third {
  content: "";
  display: block;
  position: absolute;
  border-radius: 900% 900% 0 0;
  width: 128%;
  height: 100%;
  background-color: #e46229;
  left: -166px;
  top: 10px;
  z-index: 3;
}

.provider-container {
  justify-content: center;
  align-items: center;
  z-index: 4;
  display: flex;
  position: absolute;
  width: 100%;
  top: 30px;
  flex-direction: column;
}

.img-container {
  margin-bottom: 25px;
}



.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  width: 50%;
  text-align: center;
  background-color: #3c80c8;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 75%);
}

.button-container .compare-link {
  color:#FFFFFF;
  cursor: pointer;
}

.main-nav span {
  font-size: 30px;
  padding-right: 10px;
  color: #eb5000;
}

.main-nav .phone-wrapper {
  font-size: clamp(1em, 1.5vw, 5em);
  color: #34495e;
}

.main-nav .my-account {
  padding: 8px 10px;
  display: flex;
  border: 1px solid #eb5000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

/*@media only screen and (max-width: 460px) {*/
/*  .main-nav {*/
/*    display:none}*/
/*}*/

.icon-energyuser.user-icon {
  color: #a2a2a2;
}
@media only screen and (max-width: 1500px) {

  .main-nav.right-section .account  {
    height:20px;
  }


@media only screen and (max-width: 1200px) {
  .main-nav.left-section {
    display:none}
  .main-nav.right-section .account  {
    height:20px;
}


@media only screen and (max-width: 750px) {
  .main-nav.right-section .telephone  {
    display:none;
    margin-left: 35px;
  }
  .main-nav.right-section .search  {
    margin-left: 35px;
  }
}

@media only screen and (max-width: 650px) {
  .main-nav.right-section .search  {
    display:none}
  .main-nav.right-section .home  {
    margin-left: 20px}

}
}

@media only screen and (max-width: 500px) {
  .main-nav.right-section .home  {
    display:none}

  }

}

@media only screen and (max-width: 400px) {
  .main-nav.right-section {
    display:none}
}


@media only screen and (max-width: 321px) {
  .provider-container {
    top: -46px;
  }
  .button {
    padding: 12px;
    margin-top: -18px;
  }
}